In [6]:
from mplsoccer import Sbopen
parser = Sbopen()

In [7]:
df_frame, df_visible = parser.frame(3930160)

# exploring the data
df_frame.info()
df_visible.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57460 entries, 0 to 57459
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teammate  57460 non-null  bool
 1   actor     57460 non-null  bool
 2   keeper    57460 non-null  bool
 3   match_id  57460 non-null  int64
 4   id        57460 non-null  object
 5   x         57460 non-null  float64
 6   y         57460 non-null  float64
dtypes: bool(3), float64(2), int64(1), object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3237 entries, 0 to 3236
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      3237 non-null   int64
 1   id            3237 non-null   object
 2   visible_area  3237 non-null   object
dtypes: int64(1), object(2)
memory usage: 76.0+ KB

In [8]:
df_frame

,teammate,actor,keeper,match_id,id,x,y
0,True,False,False,3930160,5685a5ce-e755-48da-9737-c89feb5905e0,40.442385,39.682323
1,True,False,False,3930160,5685a5ce-e755-48da-9737-c89feb5905e0,41.226191,30.601342
2,True,False,False,3930160,5685a5ce-e755-48da-9737-c89feb5905e0,46.248032,56.405200
3,True,False,False,3930160,5685a5ce-e755-48da-9737-c89feb5905e0,52.067852,33.283686
4,True,False,False,3930160,5685a5ce-e755-48da-9737-c89feb5905e0,56.727744,23.322952
...,...,...,...,...,...,...,...
57455,True,False,False,3930160,d2dd05ed-8bd9-441c-9f6d-a8905f62668d,110.480715,6.448953
57456,False,False,False,3930160,d2dd05ed-8bd9-441c-9f6d-a8905f62668d,111.482956,34.790068
57457,False,False,False,3930160,d2dd05ed-8bd9-441c-9f6d-a8905f62668d,112.699997,18.700001
57458,True,True,False,3930160,d2dd05ed-8bd9-441c-9f6d-a8905f62668d,113.881507,16.467895
57459,True,False,True,3930160,d2dd05ed-8bd9-441c-9f6d-a8905f62668d,117.647564,35.141044

In [9]:
df_event = parser.event(3930160)[0]